@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');


@font-face {
  font-family: "Cassannet";
  src: url("../public/fonts/Cassannet.otf");
}

* {
  box-sizing: border-box;
}

html,
body, #__next {
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}
